ul,li{list-style:none}
*{margin:0;padding:0}
button{border:none}
a{text-decoration:none}
body{font-size:12px}
.pointer{cursor:pointer}
.text{text-decoration:underline}
/*=================header==========================================*/
#header{width:1388px;height:26px;background:#f4f4f4;border-bottom:1px solid #e8e8e8;position:relative}
#header span{position:absolute;font-size:11px;color:#666666}
#header #login{top:7px;left:123px}
#header #zhuce{top:7px;left:159px}
#header ul{float:right;margin-right:87px}
#header ul li{float:left;font-size:11px;margin-top:7px;color:#666666}
#header ul .li{padding:0 15px}
#header ul .left{border-left:1px solid #cbf4f4}
#header ul .right{border-right:1px solid #f4f4cb}
/*=================search==========================================*/
#search{width:1324px;height:110px;padding-left:64px}
#search img{margin-top:1px;cursor:pointer;float:left}
#search .search{float:right;margin:35px 201px 0 77px;color:#c0c0c0}
#search .search input{border:2px solid #e10482;width:408px;height:34px;padding-left:28px;line-height:34px;font-size:15px;float:left}
#search .search button{border:none;background:#e10482;color:#fff;width:98px;height:38px;margin-left:-8px;line-height:38px;font-size:12px;cursor:pointer}
#search .search ul{margin-top:5px}
#search .search ul li{float:left;font-size:11px;color:#979797}
#search .search ul .li{padding:0 4px}
/*=================nav==========================================*/
#nav{width:1388px;height:35px;background:#000;position:relative}
#nav span{position:absolute;height:35px;line-height:35px;font-size:15px;color:#fff;text-align:center}
#nav .index{width:80px;left:116px}
#nav .temai{width:112px;left:196px}
#nav .fenlei{right:81px}
#nav .shouqi{right:81px;display:none}
#nav .fenlei img{margin-right:9px}
#nav .shouqi img{margin-right:9px}
